<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/menu.css">
</head>

<body>

    <nav className="navbar">
        <!-- <div className="item"> -->
        <h4 className="title">GO 4 FOOD</h4>
        <ul className="nav-items">
            <img src="../images/logopic.jpg" alt="Logo Pic" className="nav-logo">

            <li className="nav-links"><a href="../index.html">Home</a></li>
            <li className="nav-links"><a href="../htmls/menu.html">Menu</a></li>
            <li className="nav-links"><a href="../htmls/cart.html">Cart</a></li>
            <li className="nav-links"><a href="">Orders</a></li>

        </ul>
        <div className="right">
            <a href="">Login</a>
        </div>
        </div>
    </nav>


    <div className="menu1">
        <nav className="navbar1">
            <ul className="nav-list1">

                <li className="category"><a>American </a></li>
                <li className="category"><a>Italian </a></li>
                <li className="category"><a>Chinese </a></li>
                <li className="category"><a>South-Indian </a></li>
                <li className="category"><a>Sweet </a></li>
                <li className="category"><a>Drinks </a></li>




            </ul>
        </nav>
    </div>



    <div className="menu-container">
        <div className="menu--title">

            <img id="menuIcon" src="../images/menu_2.png">
        </div>

        <!-- Menu -->
        <div className="menu">

            <div className="container">
                <!-- Need to add chalk font in dish category -->
                <div className="menu--category" id="category">
                    <span> American</span>
                </div>
                <div className="menu--card-container">

                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                </div>
                <div className="menu--category" id="category">
                    <span> Italian</span>
                </div>

                <div className="menu--card-container">

                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                </div>

                <div className="menu--category" id="category">
                    <span> Chinese</span>
                </div>
                <div className="menu--card-container">

                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                </div>


                <div className="menu--category" id="category">
                    <span> South-Indian</span>
                </div>
                <div className="menu--card-container">

                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                </div>


                <div className="menu--category" id="category">
                    <span> Sweets</span>
                </div>
                <div className="menu--card-container">

                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                </div>

                <div className="menu--category" id="category">
                    <span> Drinks</span>
                </div>
                <div className="menu--card-container">

                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                    <div className="menu--card">
                        <div className="card--imgbx"><img src="../images/ggp.jfif" alt="menu-item" className="menu--item-image">
                        </div>
                        <div className="contentBx">
                            <h2 className="menu--item-title">Gol Gappe</h2>
                            <h3 className="menu--item-price">Price:<strike>1000</strike>20 /-</h3>
                            <button>Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <% for (Map.Entry<String, List<Dish>> category : bo.categorizeDishes().entrySet()) {
            out.print("<div id=" + category.getKey() + " className=\"categoryHeading\"> <span className='heading'>"
                    + category.getKey().toUpperCase() + "</span> DISHES</div>
            <div className=\"category\">");
                for (Dish dish : category.getValue()) {
                out.print(
                "<div className=\"container\">
                    <div className=\"card\">
                        <div className=\"imgBx\"><img className=\"image\" src="
									+ dish.getImage_url()
									+ "></div>
                        <div className=\"contentBx\">
                            <h2 className=\"shop-item-title\">" + dish.getName()
                                + "</h2><br>
                            <div>
                                <h3>Price: <strike style=\"color: red;\">" + dish.getPrice()
                                        + "</strike> " + (dish.getPrice() - dish.getDiscount())
                                    + "/-</h3><br>
                            </div><button className=\"shop-item-button\" style=\"background-color: rgb(57, 241,
                                33)\">ADD</button>
                        </div>
                    </div>
                </div>");
                }
                out.print("</div>");
            }
            %> -->

            <br>
        </div>
        <div className="checkout">
            <button className="checkout--button">Checkout</button>
        </div>
    </div>
    <!-- Menu ends -->

    <!-- Checkout Button -->
    <!-- <div className="checkout_div">
        <% if (session.getAttribute("username")==null) { out.print("<button className=\"checkout\" onclick=\"alert('Please
            Log in first!')\">Checkout</button>");
            } else {
            out.print("<button className=\"checkout\" onclick=\"checkout('" + session.getAttribute("username")
                + "')\">Checkout</button>");
            }
            %>

    </div> -->
    <!-- Checkout Button -->

    <footer>
        <div className="footer-items">
            <div className="social-icons">
                <a href="#"><i className="fa-brands fa-instagram"></i></a>
                <a href="#"><i className="fa-brands fa-facebook"></i></a>
                <a href="#"><i className="fa-brands fa-linkedin"></i></a>
                <a href="#"><i className="fa-brands fa-twitter"></i></a>
                <a href="#"><i className="fa-brands fa-youtube"></i></a>
            </div>
            <div className="footer-links">
                <a href="index.html" className="links">Home</a>
                <a href="" className="links">Service</a>
                <a href="/htmls/aboutus.html" className="links">About Us</a>
                <a href="/htmls/gallery.html" className="links">Galery</a>
                <a href="/htmls/contact.html" className="links">Contact Us</a>

            </div>

            <h3 className="disclaimer">Disclaimer!----</h3>
        </div>
    </footer>
</body>

</html>