<nav class="navbar">
    <ul class="nav-list">
        <p class="left">GO 4 FOOD</p>
        <div class="logo">
            <img src="images/logopic.jpg" alt="logo">
        </div>
        <li class="home"><a href="home.jsp">Home</a></li>
        <li><a href="Menu.jsp">Menu </a></li>
        <li><a href="cart">Cart</a></li>
        <li><a href="orders.jsp">Orders</a></li>
        
    </ul>

</nav>






KJZBUIDCBIU

















 
<section class="footer">
    <div class="social">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i>
        </a> <a href="#"><i class="fab fa-instagram"></i></a> <a href="#"><i
            class="fab fa-twitter"></i></a> <a href="#"><i
            class="fab fa-linkedin"></i></a>
    </div>
    <ul class="list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a>
        <li><a href="./aboutus.html">About </a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact </a></li>
    </ul>
    <p class="copyright">All rights reserved under Team leader
        Satyajeet,Aashish,Anurag,Aryan,Deepak,Harsh,Shruti @2021</p>

</section>
