<nav className="navbar">
    <ul className="nav-list">
        <p className="left">GO 4 FOOD</p>
        <div className="logo">
            <img src="images/logopic.jpg" alt="logo">
        </div>
        <li className="home"><a href="home.jsp">Home</a></li>
        <li><a href="Menu.jsp">Menu </a></li>
        <li><a href="cart">Cart</a></li>
        <li><a href="orders.jsp">Orders</a></li>
        
    </ul>

</nav>






KJZBUIDCBIU

















 
<section className="footer">
    <div className="social">
        <a href="https://www.facebook.com/"><i className="fab fa-facebook"></i>
        </a> <a href="#"><i className="fab fa-instagram"></i></a> <a href="#"><i
            className="fab fa-twitter"></i></a> <a href="#"><i
            className="fab fa-linkedin"></i></a>
    </div>
    <ul className="list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a>
        <li><a href="./aboutus.html">About </a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact </a></li>
    </ul>
    <p className="copyright">All rights reserved under Team leader
        Satyajeet,Aashish,Anurag,Aryan,Deepak,Harsh,Shruti @2021</p>

</section>
