 
<br><br>
<h2 className="OD">OrderDetails</h2>
<br><br>
<!-- <h1>Total Order{{this.countOrder}}</h1> -->
<div className="container">

    <div className="card">


        <div className="card-body">

            <table className="table sticky table-hover">
                <thead className="thead">
                    <tr className="text-muted h3">
                        <th scope="col" className="head">S.No</th>
                        <th scope="col" className="head">BILL_NO</th>
                        <th scope="col" className="head">USERNAME</th>
                        <th scope="col" className="head">TOTAL_AMOUNT</th>
                        <th scope="col" className="head">ADDRESS</th>
                        <th scope="col" className="head">TRANSACTION_ID</th>
                        <th scope="col" className="head">STATUS</th>
                   
                    </tr>
                </thead>

                <tbody>


                    <!-- {{billList}} -->
                    <!-- <button (click)="demo()">Test</button> -->
                    <tr *ngFor="let bill of orders; let i = index" className="text-black h4">

                        <td>{{i+1}}</td>

                        <td>{{bill.billNo}}</td>

                        <td>{{bill.username}}</td>

                        <td>{{bill.totalAmount}}</td>

                        <td>{{bill.address}}</td>

                        <td>{{  bill.ordersList[0].transactionId }}</td>
                       

                        <td>{{ bill.status }}</td>

                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<br><br>

<!-- <a href="#deleteModal" className="trigger-btn" data-toggle="modal"> -->




<div className="float-end">
    <a href="#" className="button glow-button">Back To Home</a>
</div>
<br><br><br>
<!-- <h1>..</h1> -->