<br><br>
<h2 class="OD">User Details</h2>
<br><br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table sticky table-hover">
                <thead class="thead">
                    <tr class="text-muted h3 ">
                        <th scope="col" class="head">S.NO</th>
                        <th scope="col" class="head">Username</th>
                        <th scope="col" class="head">First Name</th>
                        <th scope="col" class="head">Last Name</th>
                        <th scope="col" class="head">Mobile No</th>
                        <th scope="col" class="head">Email Id</th>
                        <th scope="col" class="head">Gender</th>
                        <th scope="col" class="head">Address</th>
                    </tr>
                </thead>
                <tbody >
             
                    
        

                    <tr *ngFor="let user of users; let i = index"  class="h5">
                        
                    <td > {{i+1}}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.mobilenumber }}</td>
                    <td>{{ user.emailid }}</td>
                    <!-- <td>{{ user.password }}</td> -->
                    
                    <td>{{ user.gender }}</td>
                    <td class="h6 adrs" style="width: 200px;">{{ user.address }}</td>
                      
                    </tr>
                       
                       
                </tbody>
                </table>
</div>
</div>
</div>
<br><br>
<div class="float-end">
    <a href="#" class="button glow-button">Back To Home</a>
</div>
    <br><br><br>
                 